<app-loading></app-loading>
<ng-template #loading>
    <div class="loading" *ngIf="!error">
        <mat-spinner diameter="60" strokeWidth="10" color="accent"></mat-spinner>
    </div>
</ng-template>
<ng-container *ngIf="!error && (item$ | async) as eventtype; else loading">
    <h1>Orders for {{eventtype.name}}</h1>
    <table *ngIf="eventtype.orders && eventtype.orders.length > 0" mat-table [dataSource]="eventtype.orders" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let order">{{order.id}}</td>
        </ng-container>
        <ng-container matColumnDef="orderDate">
            <th mat-header-cell *matHeaderCellDef>Order Date</th>
            <td mat-cell *matCellDef="let order">{{order.orderDate | date: 'YYYY-MM-dd hh:mm'}}</td>
        </ng-container>
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let order">{{order.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let order">{{order.lastName}}</td>
        </ng-container>
        <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef>Email Address</th>
            <td mat-cell *matCellDef="let order">{{order.emailAddress}}</td>
        </ng-container>
        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let order">{{order.phoneNumber}}</td>
        </ng-container>
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let order"><a mat-raised-button color="primary" routerLink="../../../fixed-wage-orders/{{order.id}}">Details</a></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let even = even; let odd = odd" [ngClass]="{even: even, odd: odd}"></tr>
    </table>
    <h2 *ngIf="eventtype && eventtype.orders?.length == 0">There are no Orders for {{eventtype.name}}</h2>
</ng-container>