.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  z-index: 2 !important
}

mat-toolbar > div {
  width: 100%;
}