<app-loading [deleting]="deleting"></app-loading>
<ng-template #loading>
    <div class="loading" *ngIf="!error">
        <mat-spinner diameter="60" strokeWidth="10" color="accent"></mat-spinner>
    </div>
</ng-template>
<ng-container *ngIf="!error && (items$ | async) as items; else loading">
    <h1>Event types</h1>
    <h2 *ngIf="items.length == 0">There are no Event types</h2>
    <a mat-raised-button routerLink="add-new" class="add-new">Add new</a>
    <app-eventtype-list *ngIf="items.length > 0" [items$]="items$" (deleteItem)="deleteItem($event)"></app-eventtype-list>
</ng-container>
<router-outlet></router-outlet>