<app-loading></app-loading>
<ng-template #loading>
    <div class="loading" *ngIf="!error">
        <mat-spinner diameter="60" strokeWidth="10" color="accent"></mat-spinner>
    </div>
</ng-template>
<div class="loading" *ngIf="deleting">
    <mat-spinner diameter="60" strokeWidth="10" color="warn"></mat-spinner>
</div>
<div *ngIf="!error && (items$ | async) as items; else loading">
    <h1>Jobs</h1>
    <h2 *ngIf="items.length == 0">There are no Jobs</h2>
    <a mat-raised-button routerLink="add-new" class="add-new">Add new</a>
    <app-job-list *ngIf="items.length > 0" [items$]="items$" (deleteItem)="deleteItem($event)"></app-job-list>
</div>
<router-outlet></router-outlet>